{% if include.table_attrs %}
  {% assign attrs_to_use = include.table_attrs %}
{% else %}
  {% assign attrs_to_use = page.table_attrs %}
{% endif %}

{% capture attrs %}
  {% for attr in attrs_to_use %}
    {{ attr | first }}
  {% endfor %}
{% endcapture %}
{% assign sorted_attrs = attrs | split: " " | sort_natural %}

<table>
  {% for attr in sorted_attrs %}
    {% assign title = attr | replace: 'ZZ_', '' | replace: 'AA_', '' | replace: '_', ' ' %}
    {% assign words = title | split: ' ' %}
    {% assign processed_words = '' %}
    {% for word in words %}
      {% assign last_char = word | slice: -1 %}
      {% if last_char == '!' %}
        {% assign processed_word = word | remove: '!' | upcase %}
      {% else %}
        {% assign processed_word = word | capitalize %}
      {% endif %}
      {% if forloop.first %}
        {% assign processed_words = processed_word %}
      {% else %}
        {% assign processed_words = processed_words | append: ' ' | append: processed_word %}
      {% endif %}
    {% endfor %}
    {% assign title = processed_words %}

    {% assign value = attrs_to_use[attr] | markdownify | remove: '<p>' | remove: '</p>' | strip %}

    <tr>
      <th>{{ title }}</th>
      <td>{{ value }}</td>
    </tr>
  {% endfor %}
</table>
